<div class="row">
  <div class="span3">
    <%= image_tag "h.png" %>
  </div>
  <% @slides.each do |slide| %>
  <div class="span3">
    <%= link_to image_tag(slide.photo.url(:medium)), slide %>
  </div>
  <% end %>
</div>

<% @articles.each do |article| %>
  <%= render article, article: article %>
<% end %>
