<div class="row-fluid" >
  <ul class="thumbnails">
    <% @articles.each do |article| %>
      <%= render "/articles/thumb_article", article: article %>
    <% end %>
  </ul>
</div>
<%= paginate @articles %>
