%li.span3
  .thumbnail
    - if  !article.photo.url.end_with?('/missing.png')
      = link_to image_tag(article.photo.url(:medium)), article
    .caption
      %h3
        = link_to article.title, article
      %small.muted= time_ago_in_words(article.created_at) + " ago"
