%h3 My Articles
%table{:class => "table table-hover"}
  %thead
    %tr
      %th
        %strong title
      %th
        %strong Updated At
      %th
        = # %strong status
      - @my_articles.each do |article|
        %tr
          %td= link_to  simple_format(article.title), edit_article_path(article)
          %td= article.updated_at.in_time_zone("Pacific Time (US & Canada)").strftime(" %B %d, %l:%M %p")