%h3= "Creative Panel"
%table{:class => "table table-hover"}
  %thead
    %tr
      %th
        %strong title
      %th
        %strong Due
      %th
        %strong Updated At
      %th
        %strong Need
      - @my_articles.each do |article|
        %tr
          %td= link_to  article.title, edit_article_path(article)
          %td SOON
          %td= article.updated_at.in_time_zone("Pacific Time (US & Canada)").strftime(" %B %d, %l:%M %p")
          %td
            .span.badge Upload
