- @users.each do |user|
  %li= user.email
  = link_to "Change Roles", edit_user_path(user)
  - user.roles.each do |role|
    = role.name
  = button_to "delete", @user, method: :delete, class: :destroy
