
%br
%hr
%br
%center.myLinks
  = link_to 'About', page_path('about'), {:style => 'color: black;'}
  |
  = link_to 'Contact', page_path('contact'), {:style => 'color: black;'}
  %br
  Westmont College | © 2016 - All rights reserved

