.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %a{href: root_path, ondragstart: "return false"}
        = image_tag asset_path("subh.png")
      %button.navbar-toggle{"data-target" => "#navPage", "data-toggle" => "collapse", type: "button", :style => 'margin-top:22px;'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse{id: "navPage"}
      %ul.nav.navbar-nav
        - Page.all.each do |page|
          %li.navbar-brand= link_to page.name, articles_path(page_id: page.id)
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.navbar-brand= link_to current_user.name.capitalize, user_path(current_user)
          %li.navbar-brand= link_to "Sign Out", destroy_user_session_path, method: :delete
        - else
          %li.navbar-brand
            %a{href: "#", "data-target" => "#signIn", "data-toggle" => "modal"} Sign In
          %li.navbar-brand
            %a{href: "#", "data-target" => "#signUp", "data-toggle" => "modal"} Sign Up


:javascript
$("img").mousedown(function(){
    return false;
});
