.row
  .span3= link_to image_tag('h.png'), root_path
  .span3= link_to image_tag('subh.png'), root_path
  .span2
    = link_to image_tag('facebook.png'), "https://www.facebook.com/westmont.horizon", :target => '_blank'
    = link_to image_tag('twitter.png'), "https://twitter.com/westmonthorizon", :target => '_blank'
