.row
  .span3= image_tag 'h.png'
  .span3= image_tag 'subh.png'
  .span2
    .span= link_to image_tag('facebook.png'), "https://www.facebook.com/westmont.horizon", :target => '_blank'
    .span= link_to image_tag('twitter.png'), "https://twitter.com/westmonthorizon", :target => '_blank'

