<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <div class="carousel-inner">
    <div class="active item">
      <%= image_tag('sunset2.jpg') %>
      <div class="carousel-caption">
        <h4>This is a sun</h4>
        <p>isn't it real bright?</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag('Sunrise.jpg') %>
      <div class="carousel-caption">
        <h4>This is also the sun</h4>
        <p>looks funny peaking up like that...</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag('sunset2.jpg') %>
      <div class="carousel-caption">
        <h4>isn't this the same picture</h4>
        <p>Yeah, I put one in twice.</p>
      </div>
    </div>
  </div>
</div>
